
  .text-typing {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:1rem;
    font-family:monospace;
    border-radius:30px;
    margin: 6rem auto;
    overflow:auto;
  }
  #i1 {
    margin:0px;
    white-space:nowrap;
    text-align: center;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1s infinite;
  }
  .text-typing-mob {
    display: none;
    padding:20px 30px;
    background:#f5f5f5;
    font-size:1rem;
    font-family:monospace;
    border-radius:30px;
    margin: 6rem auto;
    overflow:auto;

  }
  .text-typing-mob p {
    margin:0px;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1s infinite;
  }
  .text-typing2 {
    padding:20px 30px;
    background:#f5f5f5;
    font-size:1rem;
    font-family:monospace;
    border-radius:30px;
    margin: 6rem auto;
  }
  .text-typing2 p {
    margin:0px;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }
   

.bn{
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 1rem;
    border:0;
    font-size: x-large;
}

.bn:hover{
    width: 14rem;
    height: 3.5rem;
    background-color: aquamarine;
    border: 0;
    color:brown;
    box-shadow: 5px 5px 5px 5px pink;
}


@media screen and (max-width:720px){
    .text-typing-mob{
        display: flex;
    }
    .text-typing{
        display: none;
    }
}
