*{
    box-sizing: border-box;
}

body{
    color:brown;
    background-image:url('https://c4.wallpaperflare.com/wallpaper/291/819/697/illustration-city-anime-painting-wallpaper-preview.jpg');
    background-size:auto;
}
#data{
    width: fit-content;
    height: 18rem;
    background-color:aquamarine
    ;
    border-radius: 0.5rem;
    margin: 6rem auto;
}
.bt{
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 1rem;
    border:0;
    font-size: x-large;

}


.bt:hover{
    width: 14rem;
    height: 3.5rem;
    background-color: aquamarine;
    border: 0;
    color:brown;
    box-shadow: 5px 5px 5px 5px pink;


}

